ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

section > h2, section > h1 {
    text-align: center;
}

.content-block {
    border: 1px solid #eee;
    padding: 15px;
}

@media screen and (max-width: 1024px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    ul {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
