body {
  position: relative;
  background: #333;
  font-family: 'Quicksand', sans-serif;
  color: lightgrey;
  text-align: center;
}

.wrapper {
  display: grid;
  width: 620px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  grid-template-columns: 400px 200px;
  grid-gap: 20px;
  grid-template-rows: 600px;
}

.magician {
  background: lightgrey;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#hat {
  position: absolute;
  top: 11%;
  left: 30%;
  width: 40%;
  z-index: 1;
}

#head {
  position: absolute;
  top: 32%;
  left: 27%;
  width: 46%;
  z-index: 0;
}

#properties {
  color: black;
  position: absolute;
  top: 63%;
  width: 50%;
  left: 25%;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: stretch;
  margin: 0 auto;
  align-self: center;
}

button {
  font-size: 0.95rem;
  font-family: inherit;
  margin: 3px auto;
  background: #404040;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease 0s;
  outline: none;
}

button:hover {
  color: #404040 !important;
  background: lightgrey !important;
  -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.protoBtn {
  margin: 20px;
  width: 120px;
  height: 80px;
  padding: 10px;
}

.active {
  background: #ffb300;
  color: #404040;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.link {
  font-size: 70%;
  float: bottom;
  color: #111;
}

.propValue {
  font-size: 110%;
  color: darkslateblue;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}