body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px calc((100vw - 1170px) / 2);
  background-color: #333;
}

#chat {
  width: 255px;
  border-radius: 12px;
  background: linear-gradient(90deg, rgba(14,183,102,1) 0%, rgba(17,217,121,1) 100%);
  overflow: hidden;
  height: 410px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 12px 20px 10px;
  font-size: 21px;
  font-weight: 500;
}

.chat-block {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  height: calc(100% - 46.8px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  padding: 12px 15px 11px;
  margin-bottom: 8px;
  font-size: 14px;
  width: fit-content;
}

.my-message {
  background-color: #11D979;
  border-radius: 10px 0 10px 10px;
  color: #fff;
  margin-left: auto;
}

.jarvis-message {
  background-color: #F7F7F7;
  border-radius: 0 10px 10px 10px;
  color: #333;
}

.message-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  transition: all .1s;
}

.form {
  position: relative;
  border-top: 1px solid #eee;
  display: flex;
}

.send-message {
  border: none;
  background: none;
  fill: #ACACAC;
  cursor: pointer;
  width: 55px;
  outline: none;
  transition: all .1s;
}

.send-message:hover {
  fill: #333;
}

.message-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  color: #333;
  resize: none;
}