.cards-container {
    padding: 10px;
}

.card {
    width: 270px;
    height: 140px;
    border-radius: 5px;
    font-family: Verdana, Tahoma, sans-serif;
    display: inline-block;
    margin: 15px;
    position: relative;
}

.card:nth-child(1) {
    background: linear-gradient(180deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
}

.card:nth-child(2) {
    background: linear-gradient(180deg, rgba(229,45,39,1) 0%, rgba(179,18,23,1) 100%);
}

.card:nth-child(3) {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(97,4,95,1) 100%);
}

.card:nth-child(4) {
    background: linear-gradient(90deg, rgba(229,45,39,1) 0%, rgba(0,0,0,1) 100%);
}

.hero-img {
    position: absolute;
    width: auto;
    height: 165px;
    bottom: 0;
    left: 10px;
}

.card:nth-child(4) .hero-img {
    top:0;
    left: -17px;
}

.card-content {
    text-align: right;
    padding: 15px;
}

.card-content h5 {
    font-size: 12px;
    color: white;
    margin: 0;
}

.card-content p {
    color: rgba(255, 255,255, 0.5);
    font-size: 9px;
    margin: 2px 0 0;
}
