* {
  box-sizing: border-box;
  transition: all .1s ease;
}

body {
  font-family: 'Roboto Mono', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #26262d;
  color: #a2a2a6;
}

p {
  line-height: 23px;
}

.container {
  width: 100%;
  padding: 0 30px;
  background-color: #31313a;
  position: relative;
  overflow: hidden;
}

.wrapper {
  max-width: 1070px;
  padding: 0 80px;
  margin: 0 auto;
}

.footer__icon-item img {
  width: 17px;
}

ul {
  list-style: none;
}

ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* --- Header styles --- */

.header {
  position: fixed;
  background-color: #31313a;
  left: 0;
  top: 30px;
  width: 100%;
  z-index: 100;
  text-align: right;
}

.header__ul {
  display: flex;
  padding: 40px 0 30px;
  margin: 0 65px;
  position: relative;
  justify-content: flex-end;
}

.header__item {
  margin-left: 50px;
}

.header__item a {
  font-size: 13px;
  color: #f0f0f0;
  text-decoration: none;
}

.header__item a:hover {
  color: #f26b38;
}

.header__item .header__button {
  border: 1px solid #f0f0f0;
  padding: 12px 30px 13px;
}

.header__item .header__button:hover {
  border-color: #f26b38;
}

/* --- First screen styles --- */

.started {
  height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
}

.started__wrap {
  display: table-cell;
  vertical-align: middle;
}

.started__title {
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f0;
  letter-spacing: 0.04em;
  margin-bottom: 7px;
}

.glitch {
  position: relative;
  color: #f0f0f0;
  font-size: 68px;
}

.glitch::before,
.glitch::after {
  width: 100%;
  height: 100%;
}

.glitch::before,
.glitch::after,
.glitch-btn::before,
.glitch-btn::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0, 0, 0, 0);
}

.glitch::after {
  left: 2px;
  text-shadow: -1px 0 #f26b38;
  animation: glitch-1 2s infinite linear alternate-reverse;
}

.glitch::before {
  left: -2px;
  text-shadow: 2px 0 #f26b38;
  animation: glitch-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-1 {
	0% {
		clip: rect(20px, 920px, 51px, 0);
	}

	5% {
		clip: rect(83px, 920px, 102px, 0);
	}

	10% {
		clip: rect(83px, 920px, 105px, 0);
	}

	15% {
		clip: rect(95px, 920px, 11px, 0);
	}

	20% {
		clip: rect(105px, 920px, 56px, 0);
	}

	25% {
		clip: rect(40px, 920px, 19px, 0);
	}

	30% {
		clip: rect(56px, 920px, 97px, 0);
	}

	35% {
		clip: rect(9px, 920px, 17px, 0);
	}

	40% {
		clip: rect(103px, 920px, 53px, 0);
	}

	45% {
		clip: rect(92px, 920px, 6px, 0);
	}

	50% {
		clip: rect(69px, 920px, 46px, 0);
	}

	55% {
		clip: rect(8px, 920px, 87px, 0);
	}

	60% {
		clip: rect(12px, 920px, 15px, 0);
	}

	70% {
		clip: rect(28px, 920px, 106px, 0);
	}

	80% {
		clip: rect(98px, 920px, 63px, 0);
	}

	85% {
		clip: rect(11px, 920px, 44px, 0);
	}

	95% {
		clip: rect(23px, 920px, 84px, 0);
	}

	100% {
		clip: rect(66px, 920px, 91px, 0);
	}

}

@keyframes glitch-2 {
	0% {
		clip: rect(86px, 920px, 25px, 0);
	}

	5% {
		clip: rect(30px, 920px, 17px, 0);
	}

	10% {
		clip: rect(54px, 920px, 43px, 0);
	}

	15% {
		clip: rect(10px, 920px, 86px, 0);
	}

	25% {
		clip: rect(62px, 920px, 1px, 0);
	}

	30% {
		clip: rect(61px, 920px, 24px, 0);
	}

	35% {
		clip: rect(38px, 920px, 46px, 0);
	}

	40% {
		clip: rect(115px, 920px, 8px, 0);
	}

	45% {
		clip: rect(87px, 920px, 44px, 0);
	}

	50% {
		clip: rect(6px, 920px, 65px, 0);
	}

	55% {
		clip: rect(83px, 920px, 99px, 0);
	}

	65% {
		clip: rect(25px, 920px, 71px, 0);
	}

	70% {
		clip: rect(37px, 920px, 55px, 0);
	}

	75% {
		clip: rect(115px, 920px, 18px, 0);
	}

	80% {
		clip: rect(68px, 920px, 46px, 0);
	}

	90% {
		clip: rect(47px, 920px, 31px, 0);
	}

	95% {
		clip: rect(47px, 920px, 84px, 0);
	}

	100% {
		clip: rect(93px, 920px, 53px, 0);
	}

}

.started__desc {
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 13px;
  width: 23em;
  margin: 0 auto;
  white-space:nowrap;
  overflow:hidden;
  animation: typewriter 4s steps(44) 1.5s 1 normal both,
             blinkTextCursor 800ms steps(44) infinite normal;
}

@keyframes typewriter{
  from {width: 0;}
  to {width: 24em;}
}

@keyframes blinkTextCursor{
  from {border-right-color: rgba(255,255,255,.75);}
  to  {border-right-color: transparent;}
}

.mouse-svg {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 18%;
  animation: mouse-move 1.5s infinite ease;
}

@keyframes mouse-move {
  0% {bottom: 19%;}
  50% {bottom: 17%;}
  100% {bottom: 19%;}
}

.started__wrap {
  position: relative;
}

/* About section styles */

.about {
  font-size: 13px;
}

.about__title,
.resume__title,
.design__title,
.coding__title,
.recent__title,
.contacts__title {
  font-weight: 400;
  text-transform: uppercase;
  color: #f0f0f0;
  margin-bottom: 40px;
  font-size: 13px;
}

.about__title span,
.resume__title span,
.design__title span,
.coding__title span,
.recent__title span,
.contacts__title span {
  box-shadow: rgb(102, 102, 102) 0px -6px 0px inset;
}

.about__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: grayscale(.7);
}

.about__content {
  display: flex;
}

.about__info-block {
  margin-left: 40px;
}

.about__text {
  margin-bottom: 20px;
}

.about__list-item {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin-top: 12px;
}

.about__list-item strong {
  color: #f26b38;
}

.about__btn-container {
  margin-top: 37px;
}

.about__download-btn,
.contacts__btn {
  display: inline-block;
  height: 42px;
  line-height: 40px;
  background-color: #f26b38;
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  position: relative;
}

.glitch-btn::before,
.glitch-btn::after {
  display: none;
  background: transparent;
}

.glitch-btn::after {
  left: 34px;
  text-shadow: -1px 0 #f26b38;
  animation: glitch-1 2s infinite linear alternate-reverse;
}

.glitch-btn::before {
  left: 26px;
  text-shadow: 2px 0 #f26b38;
  animation: glitch-2 2s infinite linear alternate-reverse;
}

.glitch-btn:hover::before,
.glitch-btn:hover::after {
  display: block;
}

/* --- Resume section styles --- */

.resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  font-size: 13px;
  margin-top: 150px;
}

.resume__item {
  position: relative;
  padding: 0 30px 60px 30px;
}

.resume__data {
  font-size: 11px;
  color: #f26b38;
  position: relative;
  top: -10px;
  margin-bottom: 8px;
}

.resume__data span {
  border: 1px solid #f26b38;
  padding: 1px 5px 2px;
}

.resume__data::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #f26b38;
  position: absolute;
  left: -30px;
  top: 9px;
}

.resume__item-title {
  font-weight: 500;
  color: #f0f0f0;
  margin-bottom: 15px;
}

.resume__item::before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #f26b38;
  position: absolute;
  top: 0;
  left: 0;
}

.resume__item:last-child::before {
  display: none;
}

/* --- Design skills section styles --- */

.design {
  margin-top: 80px;
  font-size: 13px;
}

.design__title {
  margin-bottom: 35px;
}

.design__item-title {
  color: #f0f0f0;
  font-weight: 400;
  margin-bottom: 9px;
}

.design__progress {
  position: relative;
  height: 3px;
  background-color: #666;
  width: 100%;
}

.design__percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #f26b38;
}

.design__list-item:first-child .design__percent {
  width: 80%;
  animation: one 5s infinite ease-in-out;
}
.design__list-item:nth-child(2) .design__percent {
  width: 85%;
  animation: two 5s infinite ease-in-out;
}
.design__list-item:nth-child(3) .design__percent{
  width: 75%;
  animation: three 5s infinite ease-in-out;
}

@keyframes one {
  0% {width: 10%;}
  25% {width: 80%;}
  100% {width: 80%;}
}
@keyframes two {
  0% {width: 10%;}
  25% {width: 85%;}
  100% {width: 85%;}
}
@keyframes three {
  0% {width: 10%;}
  25% {width: 75%;}
  100% {width: 75%;}
}

.design__percent span {
  position: absolute;
  color: #a2a2a6;
  top: -27px;
  right: 0;
}

.design__list-item {
  margin-bottom: 30px;
}

/* --- Coding skills styles --- */

.coding {
  font-size: 13px;
}

.coding__items {
  display: flex;
  flex-wrap: wrap;
}

.coding__item {
  width: 22%;
}

.coding__title {
  margin-top: 120px;
}

.coding__pie-wrapper {
  position: relative;
  height: 90px;
  width: 90px;
}

.coding__pie-wrapper .coding__pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #666;
}

.coding__pie-wrapper .coding__pie .coding__half-circle {
  height: 100%;
  width: 100%;
  border: 0.6em solid #f26b38;
  border-radius: 50%;
  clip: rect(0, 45px, 90px, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.coding__pie-wrapper .coding__label {
  background-color: #31313a;
  border-radius: 50%;
  color: #a2a2a6;
  display: block;
  font-size: 17px;
  line-height: 4.45em;
  position: absolute;
  text-align: center;
  top: 0.45em;
  bottom: 0.45em;
  left: 0.45em;
  right: 0.45em;
  z-index: 2;
}

.coding__pie-wrapper .coding__pie {
  clip: rect(auto, auto, auto, auto);
}

.coding__pie-wrapper .coding__pie .coding__right-side {
  transform: rotate(180deg);
}

.coding__progress-90 .coding__pie .coding__left-side {transform: rotate(324deg);}

.coding__progress-60 .coding__pie .coding__left-side {transform: rotate(216deg);}

.coding__progress-85 .coding__pie .coding__left-side {transform: rotate(306deg);}

.coding__progress-95 .coding__pie .coding__left-side {transform: rotate(342deg);}

.coding__item-name {
  text-align: center;
  width: 90px;
  color: #f0f0f0;
  margin-top: 25px;
}

/* --- Recent works section styles --- */

.recent__title {
  margin-top: 130px;
}

.recent__works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.recent__work {
  width: 100%;
  height: auto;
  position: relative;
}

.recent__expand {
  position: relative;
}

.recent__expand img {
  width: 100%;
  height: auto;
}

.recent__plus-container svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.recent__plus-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  padding: 20px;
  transform: scale(0.5, 0.5);
  display: table;
  transition: all .3s ease 0s;
}

.recent__plus-container span {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 107, 56,.94);
  display: table-cell;
  vertical-align: middle;
}

.recent__work:hover .recent__plus-container {
  opacity: 1;
  transform: scale(1, 1);
}

.recent__work-desc {
  padding: 12px 45px 5px 45px;
  text-align: center;
}

.recent__work-label {
  margin-bottom: 5px;
}

.recent__work-label span {
  color: #a2a2a6;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: rgb(102, 102, 102) 0px -6px 0px inset;
  letter-spacing: 0.02em;
}

.recent__work-title a {
  font-size: 13px;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.recent__work:hover .recent__work-title a {
  color: #f26b38;
}

/* --- Contacts section styles --- */

.contacts {
  padding-bottom: 150px;
}

.contacts__title {
  margin-top: 130px;
}

.contacts__items {
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  width: calc(100% / 3);
  font-size: 13px;
}

.contacts__phone-block {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #f0f0f0;
}

.contacts__phone-block span {
  margin-left: 20px;
}

.contacts__item p {
  margin-top: 15px;
}

.contacts__item a {
  color: #f0f0f0;
  text-decoration: none;
}

.contacts__item a:hover {
  color: #f26b38;
}

.contacts__item svg {
  width: 29px;
  fill: #f26b38;
}

.contacts__form {
  margin-top: 30px;
}

.contacts__form * {
  display: block;
  width: 100%;
}

.contacts__input {
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
  box-shadow: none;
  caret-color: #fff;
  height: 60px;
  margin-bottom: 30px;
  padding: 0;
  color: #f0f0f0;
  font-family: 'Roboto Mono', Arial, sans-serif;
  font-size: 12px;
}

textarea.contacts__input {
  height: 120px;
}

.contacts__input:focus {
  border-color: #f26b38;
}

.contacts__input:focus::placeholder {
  color: #f0f0f0;
}

.contacts__input:invalid {
  color: red;
  border-color: red;
}

.contacts__btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  width: auto;
  font-size: 13px;
  font-family: 'Roboto Mono', Arial, sans-serif;
}

  /* --- Footer styles --- */

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  left: 0;
  padding: 15px 60px 25px;
  width: 100%;
  background-color: #31313a;
  z-index: 3;
}

.footer__copyright {
  font-size: 11px;
  color: #999999;
}

.footer__ul {
  display: flex;
}

.footer__icon-item a:hover svg {
  fill: #f26b38;
}

.footer__icon-item {
  margin-left: 20px;
}

/* --- Side borders --- */

.top-line,
.bottom-line,
.left-line,
.right-line {
  content: '';
  background-color: #26262d;
  position: fixed;
  z-index: 100;
}

.top-line,
.bottom-line {
  width: 100vw;
  height: 30px;
}

.left-line,
.right-line  {
  width: 30px;
  height: 100vh;
}

.top-line {
  top: 0;
  left: 0;
}

.bottom-line {
  bottom: 0;
  left: 0;
}

.left-line {
  top: 0;
  left: 0;
}

.right-line {
  top: 0;
  right: 0;
}

/* --- Svg styles --- */

.telegram-svg,
.github-svg,
.instagram-svg {
  width:15px;
  height: 15px;
  fill: #f0f0f0;
}

.instagram-svg,
.telegram-svg {
  width: 14px;
}

.mouse-svg {
  width: 20px;
  height: 20px;
  fill: #f26b38;
}


@media screen and (max-width: 1050px) {
  .about__list-item {
    width: 49%;
  }
  .wrapper {
    max-width: 1070px;
    padding: 0 80px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding: 0 40px;
  }
  .recent__works {
    grid-column-gap: 10px;
  }
  .contacts__item {
    width: 100%;
  }
  .contacts__item p {
    margin-top: 5px;
  }
  .contacts__item {
    margin-top: 15px;
  }
}

@media screen and (max-width: 840px) {
  .wrapper {
    padding: 0 20px;
  }
  .footer {
    justify-content: center;
  }
  .footer__copyright {
    display: none;
  }
  .footer__icon-item {
    margin: 0 10px;
  }
  .started__title {
    font-size: 52px;
  }
  .mouse-svg {
    bottom: 22%;
  }
  @keyframes mouse-move {
    0% {bottom: 23%;}
    50% {bottom: 21%;}
    100% {bottom: 23%;}
  }
  .about__list-item {
    width: 100%;
  }
  .resume {
    grid-template-columns: 1fr;
  }
  .coding__item {
    width: 25%;
  }
  .recent__works {
    grid-template-columns: 1fr 1fr;
  }
  .recent__work {
    margin-bottom: 30px;
  }
  .recent__title {
    margin-top: 70px;
  }
  .coding__title {
    margin-top: 60px;
  }
  .design {
    margin-top: 20px;
  }
  .resume {
    margin-top: 70px;
  }
  .contacts__title {
    margin-top: 70px;
  }
  .about__photo {
    width: 80px;
    height: 80px;
  }
  .about__info-block {
    margin-left: 15px;
  }
}

@media screen and (max-width: 570px) {
  h2 {
    text-align: center;
  }
  .contacts__phone-block {
    justify-content: center;
  }
  .contacts__item {
    text-align: center;
    margin-top: 20px;
  }
  .contacts__item p {
    margin-top: 15px;
  }
  .started__title {
    font-size: 42px;
  }
  .started__desc {
    width: 100%;
    white-space: normal;
    animation: none;
    border: none;
  }
  .started__wrap a {
    display: none;
  }
  .coding__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .recent__works {
    grid-template-columns: 1fr;
  }
  .header__ul {
    display: none;
  }
  .about__content {
    flex-wrap: wrap;
  }
  .about__info-block {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }
  .about__photo {
    margin: 0 auto;
  }
  .resume__item {
    padding: 0 0 40px 25px;
  }
  .resume__data::before {
    width: 25px;
    left: -25px;
  }
}