* {
  box-sizing: border-box;
  transition: all .1s ease;
}

body {
  font-family: 'Roboto Mono', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #26262d;
  color: #a2a2a6;
}

.container {
  width: 100%;
  padding: 0 30px 100px;
  background-color: #31313a;
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
}

.footer__icon-item img {
  width: 17px;
}

ul {
  list-style: none;
}

ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* --- Header styles --- */

.header {
  position: fixed;
  background-color: #31313a;
  left: 0;
  top: 30px;
  width: 100%;
  z-index: 100;
  text-align: right;
}

.header__ul {
  display: flex;
  padding: 40px 0 30px;
  margin: 0 65px;
  position: relative;
  justify-content: flex-end;
}

.header__item {
  margin-left: 50px;
}

.header__item a {
  font-size: 13px;
  color: #f0f0f0;
  text-decoration: none;
}

.header__item a:hover {
  color: #f26b38;
}

.header__item .header__button {
  border: 1px solid #f0f0f0;
  padding: 12px 30px 13px;
}

.header__item .header__button:hover {
  border-color: #f26b38;
}

/* --- First screen styles --- */

.started {
  height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
}

.started__wrap {
  display: table-cell;
  vertical-align: middle;
}

.started__title {
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f0;
  letter-spacing: 0.04em;
  margin-bottom: 7px;
}

.glitch {
  position: relative;
  color: #f0f0f0;
  font-size: 68px;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 1px;
  text-shadow: -1.5px 0 #f26b38;
  animation: noise-anim-1 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -1.5px 0 #f26b38;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-1 {
	 0% {
		 clip-path: inset(44% 0 57% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 5% {
		 clip-path: inset(81% 0 14% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 10% {
		 clip-path: inset(67% 0 5% 0);
		 text-shadow: 1.5 0 rgba(255, 152, 0, 1);
	}
	 15% {
		 clip-path: inset(41% 0 30% 0);
		 text-shadow: 1.5 0 rgba(255, 152, 0, 1);
	}
	 20% {
		 clip-path: inset(52% 0 37% 0);
		 text-shadow: 1.5 0 rgba(255, 152, 0, 1);
	}
	 25% {
		 clip-path: inset(10% 0 58% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 30% {
		 clip-path: inset(5% 0 26% 0);
		 text-shadow: 0.5 0 rgba(255, 152, 0, 1);
	}
	 35% {
		 clip-path: inset(71% 0 28% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 40% {
		 clip-path: inset(4% 0 41% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 45% {
		 clip-path: inset(23% 0 47% 0);
		 text-shadow: 0.5 0 rgba(255, 152, 0, 1);
	}
	 50% {
		 clip-path: inset(2% 0 88% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 55% {
		 clip-path: inset(69% 0 19% 0);
		 text-shadow: 0.5 0 rgba(255, 152, 0, 1);
	}
	 60% {
		 clip-path: inset(65% 0 26% 0);
		 text-shadow: 0.5 0 rgba(255, 152, 0, 1);
	}
	 65% {
		 clip-path: inset(47% 0 19% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 70% {
		 clip-path: inset(61% 0 14% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 75% {
		 clip-path: inset(21% 0 80% 0);
		 text-shadow: 1.5 0 rgba(255, 152, 0, 1);
	}
	 80% {
		 clip-path: inset(100% 0 1% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
	 85% {
		 clip-path: inset(21% 0 56% 0);
		 text-shadow: 1.5 0 rgba(255, 152, 0, 1);
	}
	 90% {
		 clip-path: inset(41% 0 48% 0);
		 text-shadow: 1.5 0 rgba(255, 152, 0, 1);
	}
	 95% {
		 clip-path: inset(72% 0 3% 0);
		 text-shadow: 0.5 0 rgba(255, 152, 0, 1);
	}
	 100% {
		 clip-path: inset(73% 0 4% 0);
		 text-shadow: -0.5 0 rgba(255, 152, 0, 1);
	}
}
 
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(19% 0 39% 0);
    text-shadow: 1px 0 rgba(255, 152, 0, 1);
 }
  5% {
    clip-path: inset(68% 0 8% 0);
    text-shadow: 2px 0 rgba(255, 152, 0, 1);
 }
  10% {
    clip-path: inset(17% 0 78% 0);
    text-shadow: -1px 0 rgba(255, 152, 0, 1);
 }
  15% {
    clip-path: inset(62% 0 19% 0);
    text-shadow: 1px 0 rgba(255, 152, 0, 1);
 }
  20% {
    clip-path: inset(20% 0 73% 0);
    text-shadow: 1px 0 rgba(255, 152, 0, 1);
 }
  25% {
    clip-path: inset(42% 0 56% 0);
    text-shadow: 2px 0 rgba(255, 152, 0, 1);
 }
  30% {
    clip-path: inset(52% 0 19% 0);
    text-shadow: 2px 0 rgba(255, 152, 0, 1);
 }
  35% {
    clip-path: inset(82% 0 11% 0);
    text-shadow: 2px 0 rgba(255, 152, 0, 1);
 }
  40% {
    clip-path: inset(90% 0 4% 0);
    text-shadow: 0px 0 rgba(255, 152, 0, 1);
 }
  45% {
    clip-path: inset(26% 0 26% 0);
    text-shadow: -1px 0 rgba(255, 152, 0, 1);
 }
  50% {
    clip-path: inset(39% 0 51% 0);
    text-shadow: -1px 0 rgba(255, 152, 0, 1);
 }
  55% {
    clip-path: inset(100% 0 1% 0);
    text-shadow: 1px 0 rgba(255, 152, 0, 1);
 }
  60% {
    clip-path: inset(1% 0 54% 0);
    text-shadow: 0px 0 rgba(255, 152, 0, 1);
 }
  65% {
    clip-path: inset(20% 0 36% 0);
    text-shadow: 2px 0 rgba(255, 152, 0, 1);
 }
  70% {
    clip-path: inset(36% 0 65% 0);
    text-shadow: -1px 0 rgba(255, 152, 0, 1);
 }
  75% {
    clip-path: inset(58% 0 28% 0);
    text-shadow: 1px 0 rgba(255, 152, 0, 1);
 }
  80% {
    clip-path: inset(100% 0 1% 0);
    text-shadow: 2px 0 rgba(255, 152, 0, 1);
 }
  85% {
    clip-path: inset(94% 0 5% 0);
    text-shadow: 0px 0 rgba(255, 152, 0, 1);
 }
  90% {
    clip-path: inset(70% 0 17% 0);
    text-shadow: 0px 0 rgba(255, 152, 0, 1);
 }
  95% {
    clip-path: inset(30% 0 66% 0);
    text-shadow: -1px 0 rgba(255, 152, 0, 1);
 }
  100% {
    clip-path: inset(78% 0 21% 0);
    text-shadow: 1px 0 rgba(255, 152, 0, 1);
 }
}

.started__desc {
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 13px;
  width: 23em;
  margin: 0 auto;
  white-space:nowrap;
  overflow:hidden;
  animation: typewriter 4s steps(44) 1.5s 1 normal both,
             blinkTextCursor 800ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.mouse-svg {
  position: absolute;
  left: calc(50% - 10px);
  bottom: 18%;
  animation: mouse-move 1.5s infinite ease;
}

@keyframes mouse-move {
  0% {bottom: 19%;}
  50% {bottom: 17%;}
  100% {bottom: 19%;}
}

.started__wrap {
  position: relative;
}

/* About section styles */

.about {
  font-size: 13px;
}

.about__title {
  font-weight: 500;
  text-transform: uppercase;
  color: #f0f0f0;
  margin-bottom: 40px;
  font-size: 13px;
}

.about__title span {
  box-shadow: rgb(102, 102, 102) 0px -6px 0px inset;
}

.about__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: grayscale(.7);
}

.about__content {
  display: flex;
}

.about__info-block {
  margin-left: 40px;
}

.about__text {
  line-height: 23px;
  margin-bottom: 12px;
}

.about__list-item {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin-top: 12px;
}

.about__list-item strong {
  color: #f26b38;
}



/* --- Footer styles --- */

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  left: 0;
  padding: 15px 60px 25px;
  width: 100%;
  background-color: #31313a;
}

.footer__copyright {
  font-size: 11px;
  color: #999999;
}

.footer__ul {
  display: flex;
}

.footer__icon-item a:hover svg {
  fill: #f26b38;
}

.footer__icon-item {
  margin-left: 20px;
}
































/* --- Side borders --- */

.top-line,
.bottom-line,
.left-line,
.right-line {
  content: '';
  background-color: #26262d;
  position: fixed;
  z-index: 100;
}

.top-line,
.bottom-line {
  width: 100vw;
  height: 30px;
}

.left-line,
.right-line  {
  width: 30px;
  height: 100vh;
}

.top-line {
  top: 0;
  left: 0;
}

.bottom-line {
  bottom: 0;
  left: 0;
}

.left-line {
  top: 0;
  left: 0;
}

.right-line {
  top: 0;
  right: 0;
}

/* --- Svg styles --- */

.telegram-svg,
.github-svg,
.instagram-svg {
  width:15px;
  height: 15px;
  fill: #f0f0f0;
}

.instagram-svg,
.telegram-svg {
  width: 14px;
}

.mouse-svg {
  width: 20px;
  height: 20px;
  fill: #f26b38;
}
