* {
    box-sizing: border-box;
}

section {
    border: 1px solid #000;
    padding: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(69, auto);
}

.img1 {grid-column: span 31;}
.img2 {grid-column: span 38;}
.img3 {grid-column: span 27;}
.img4 {grid-column: span 22;}
.img5 {grid-column: span 19;}
.img6 {grid-column: span 14;}
.img7 {grid-column: span 21;}
.img8 {grid-column: span 10;}
.img9 {grid-column: span 24;}

.row > div img {
    width: 100%;
    height: 99%;
}

@media screen and (min-width: 641px) and (max-width: 1366px) {
    .img1, .img3 {text-align: center;}
    .img1 {grid-column: span 69;}
    .row > .img1 img, .row > .img3 img {width: 80%;}
    .img3 {grid-column: span 69;}
    .img6 {
        grid-column: span 20;
        margin-right: 5px;
    }
    .img7 {grid-column: span 44;}
    .img8, img9 {
        text-align: right;
    }
    .img8 {
        grid-column: span 20;
    }
    .row > .img8 img {
        width: 62%;
        margin-right: 8px;
    }
    .img9 {grid-column: span 30;}
}

@media screen and (max-width: 640px) {
    .img1 {grid-column: span 69;}
    .img2 {grid-column: span 69;}
    .img3 {grid-column: span 69;}
    .img4 {grid-column: span 69;}
    .img5 {grid-column: span 69;}
    .img6 {grid-column: span 69;}
    .img7 {grid-column: span 42;}
    .img8 {grid-column: span 27;}
    .img9 {grid-column: span 69;}
    .img4, .img5, .img6 {width: 80%;}
}
