.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-bottom: 15px;
}

#counter {
  position: fixed;
  top: 25px;
  right: 30px;
  font-family: Arial, sans-serif;
  background-color: #da3832;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 14px;
}

#counter.counter-full-load {
  background-color: green;
}
