* {
    box-sizing: border-box;
}

section {
    background-color: #3F4751;
    display: flex;
    padding: 30px 10px;
}

.label, select, label {
    font-family: system-ui, sans-serif;
}

select {
    color: white;
    outline-color: #335DB2;
    outline-style: auto;
    outline-offset: -2px;
    background-color: #323A42;
    border: 1px solid #A6A6A6;
    padding: 7px 5px 9px;
    border-radius: 2px;
    margin-top: 12px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

.chevron {
    position: absolute;
    height: 9px;
    width: 9px;
    background: transparent;
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    transform: translate(-30px, 20px) rotate(45deg);
}

.label, label {
    font-weight: 400;
    font-size: 14px;
    color: #d2d2d2;
}

ul {
    list-style: none;
    padding: 0;
}

form {
    width: 100%;
    background-color: #48525E;
    border: 1px solid #808080;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 40px));
    grid-column-gap: 80px;
}

h1 {
    text-align: center;
}

.targets {
    background-color: #323A42;
    border-radius: 0 10px 10px 0;
}

.targets li img {
    width: 55%;
    margin: 15px 0 15px 5px;
}

.nav-item {
    text-align: center;
}



