* {
    box-sizing: border-box;
}

.section {
    background-color: #3F4751;
    display: flex;
    padding: 30px 10px;
}

.label, select, label {
    font-family: system-ui, sans-serif;
}

select {
    color: white;
    outline-color: #335DB2;
    outline-style: auto;
    outline-offset: -2px;
    background-color: #323A42;
    border: 1px solid #A6A6A6;
    padding: 7px 10px 9px;
    border-radius: 2px;
    margin-top: 15px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}

.typeface-container {
    position: relative;
}

.chevron {
    position: absolute;
    height: 9px;
    width: 9px;
    background: transparent;
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    transform: translate(-30px, 22px) rotate(45deg);
}

.label, label {
    font-weight: 400;
    font-size: 15px;
    color: #d2d2d2;
}

ul {
    list-style: none;
    padding: 0;
}

form {
    width: 100%;
    background-color: #48525E;
    border: 1px solid #808080;
    padding: 45px 30px 90px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 40px));
    grid-column-gap: 80px;
    grid-row-gap: 40px;
}

nav {
    display: inline-block;
    margin: auto;
}

h1 {
    text-align: center;
}

.targets {
    background-color: #323A42;
    border-radius: 0 10px 10px 0;
    margin: 0;
}

.targets li img {
    width: 55%;
    margin: 15px 0 15px 5px;
}

.nav-item {
    text-align: center;
}

/* Toggle button */

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
}

.toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #323A42;
    -webkit-transition: .4s;
    transition: .4s;
}

.theme-slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #5FB9A5;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .theme-slider {
    background-color: #4695EC;
}

input:checked + .theme-slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.theme-container .label {
    display: inline-block;
}

.theme-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

/* --- Weight checkmarks --- */

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #323A42;
    border: 1px solid #808080;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "✔";
    position: absolute;
    left: 4px;
    top: -1px;
    font-size: 14px;
    display: none;
    color: #5FB9A5;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* --- Colors block styling --- */

.check-row {
    display: flex;
    justify-content: space-between;
}

.color-checkbox {
    padding-left: 0;
    width: 27px;
    height: 27px;
}

.color-checkmark {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: none;
    box-shadow: 0 0 1px #ddd;
}

.color-checkbox .checkmark:after {
    color: white;
    left: 8px;
    top: 4px;
}

.color-checkbox:nth-child(1) .color-checkmark {background-color: #4975B9;}
.color-checkbox:nth-child(2) .color-checkmark {background-color: #5FB9A5;}
.color-checkbox:nth-child(3) .color-checkmark {background-color: #CF62CA;}
.color-checkbox:nth-child(4) .color-checkmark {background-color: #DCD868;}
.color-checkbox:nth-child(5) .color-checkmark {background-color: #D2815F;}

/* Size block styling  */

#size-range {
    margin-top: 20px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 7px;
    background: #353D45;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#size-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 23px; /* Set a specific slider handle width */
    height: 23px;
    border-radius: 50%; 
    background: #5FB9A5; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.size-range::-moz-range-thumb {
    width: 23px; /* Set a specific slider handle width */
    height: 23px;
    border-radius: 50%;
    background: #5FB9A5; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#size-range::before {
    content: "A";
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 20px;
    left: 0;
}

#size-range::after {
    content: "A";
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 20px;
    right: 0;
}

@media screen and (max-width: 679px) {
    form {
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (max-width: 350px) {
    .section {
        display: block;
    }

    .targets {
        display: flex;
        border-radius: 0 0 10px 10px;
        justify-content: space-between;
        margin: 0;
    }
}
