* {
    text-transform: uppercase;
    font-family: Lato, Arial, Helvetica, sans-serif;
    transition: all .1s ease;
}

.team-dropdown {
    position: relative;
    display: inline-block;
}

body {
    text-align: center;
}

h1 {
    background: #da3832;
    color: white;
}

.team-dropbtn {
    background-color: #d3d3d3;
    color: black;
    padding: 12px;
    font-size: 14px;
    width: 220px;
    border: none;
    display: inline-block;
}

.drop-content-first-lvl,
.drop-content-second-lvl-leaders,
.drop-content-second-lvl-members {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    text-align: left;
}

.drop-content-first-lvl {
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content-first-lvl .menu-item,
.drop-content-first-lvl a {
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content-first-lvl .menu-item:hover,
.drop-content-second-lvl-leaders a:hover,
.drop-content-second-lvl-members a:hover {
    background-color: #da3832;
    color: white;
}

.team-dropdown:hover .drop-content-first-lvl {
    display: block;
}

.team-dropdown:hover .team-dropbtn {
    background-color: #da3832;
}

.menu-item:nth-child(1):hover .drop-content-second-lvl-leaders,
.menu-item:nth-child(2):hover .drop-content-second-lvl-members {
    display: block;
}

.drop-content-second-lvl-leaders, .drop-content-second-lvl-members {
    min-width: 130px;
    z-index: 2;
}

.menu-item {
    position: relative;
}

.drop-content-second-lvl-leaders,
.drop-content-second-lvl-members {
    top: 0;
    right: 0;
    transform: translate(100%, 0);
}
