.header__cart-button:hover {
  background: #434343;
}

.header__cart-dropdown {
  display: none;
}

.header__cart-area {
  position: relative;
  padding: 0 4px 0 12px;
  display: flex;
  align-items: center;
  height: 42px;
}

.header__cart-area svg {
  fill: white;
}

.header__cart-value {
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 1000px;
  position: relative;
  top: -11px;
  margin-left: -3px;
  background: #fff;
  color: #333;
  font-weight: 700;
}

.header__cart-button {
  height: 100%;
  align-items: center;
  display: flex;
  border-radius: 1px;
}

.header__cart {
  padding: 5px 0;
}

.dropcart {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 1px 15px rgba(0,0,0,.25);
  background: #fff;
  width: 320px;
  color: #333;
  visibility: hidden;
  opacity: 0;
  transform-origin: top;
  transform: translateY(100%) rotateX(60deg);
  transition: transform .2s, opacity .2s, visibility 0s .2s;
}

.dropcart-open {
  transition-delay: 0s,0s,0s;
  opacity: 1;
  visibility: visible;
  transform: translateY(100%) rotateX(0deg);
  z-index: 2;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  max-height: 525px;
}

.dropcart__products-list {
  padding: 20px 16px;
}

.dropcart__products-item {
  display: flex;
}

.dropcart__products-item+.dropcart__products-item {
  margin-top: 20px;
}

.dropcart__product-img {
  width: 70px;
  flex-shrink: 0;
}

.dropcart__product-img img {
  width: 100%;
}

.dropcart__product-info {
  padding: 0 10px 0 16px;
}

.dropcart__product-price {
  font-size: 13px;
  margin-top: 6px;
}

.dropcart__product-price strong {
  font-size: 14px;
}

.dropcart__product-remove {
  margin-left: auto;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-right: -6px;
  fill: #ccc;
  margin-top: -5px;
  flex-shrink: 0;
}

.dropcart__product-remove:hover {
  background: #f0f0f0;
  fill: #333;
}

.dropcart__product-remove svg {
  transition: initial;
}

.dropcart__product-remove svg path {
  transition: none;
}

.dropcart__total {
  border-top: 1px solid #ebebeb;
  padding: 16px 20px 0;
  font-size: 15px;
}

.dropcart__buttons {
  display: flex;
  margin-top: 4px;
  padding: 20px;
}

.dropcart__total span {
  float: right;
}

.dropcart__btn {
  text-align: center;
  flex-grow: 1;
  padding: 6px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

.btn-primary:hover {
  background: #4d4d4d;
}

.btn-secondary:hover {
  background: #333;
  color: #fff;
}

.btn-secondary {
  margin-right: 8px;
  background: #f0f0f0;
  color: #333;
}

.empty-cart {
  color: #ccc;
  display: block;
  text-align: center;
  padding: 25px 0;
}

.dropcart__products-item .new-price,
.dropcart__products-item .old-price {
  display: inline;
}