.header__cart-button:hover {
  background: #434343;
}

.header__cart-dropdown {
  display: none;
}

.header__cart-area {
  position: relative;
  padding: 0 4px 0 12px;
  display: flex;
  align-items: center;
  height: 42px;
}

.header__cart-area svg {
  fill: white;
}

.header__cart-value {
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 1000px;
  position: relative;
  top: -11px;
  margin-left: -3px;
  background: #fff;
  color: #333;
  font-weight: 700;
}

.header__cart-button {
  height: 100%;
  align-items: center;
  display: flex;
  border-radius: 1px;
}

.header__cart {
  padding: 5px 0;
}
