.shop-area__sidebar {
  width: 255px;
  flex-shrink: 0;
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  margin-right: 30px;
  align-self: flex-start;
}

.shop-area__sidebar-title {
  padding: 20px;
}

.collapse-item {
  padding: 8px 10px;
  border-top: 2px solid #f0f0f0;
}

.filter__range-container {
  position: relative;
  margin: 20px 5px;
}

.filter__range-container input {
  outline: 0;
}

.filter-body input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  transition: all .2s ease;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E0E0E0;
}

input[type=range]:focus::-ms-fill-lower {
  background: #E0E0E0;
}

input[type=range]:focus::-ms-fill-upper {
  background: #E0E0E0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: #E0E0E0;
  border-radius: 2px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #f0f0f0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10'%3E%3Ccircle cx='5' cy='5' r='4' stroke='black' fill='black' /%3E%3C/svg%3E") no-repeat 50%;
  background-size: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  transition: all .2s ease;
}

input[type=range]:focus::-webkit-slider-thumb {
  background-size: 5px;
  border-color: transparent;
  box-shadow: 0 0 1px 3px rgba(204,204,204,.3);
}

input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #f0f0f0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10'%3E%3Ccircle cx='5' cy='5' r='4' stroke='black' fill='black' /%3E%3C/svg%3E") no-repeat 50%;
  background-size: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #f0f0f0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10'%3E%3Ccircle cx='5' cy='5' r='4' stroke='black' fill='black' /%3E%3C/svg%3E") no-repeat 50%;
  background-size: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: #E0E0E0;
  border-radius: 2px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #E0E0E0;
  border-radius: 2px;
  box-shadow: none;
  border: 0;
}

.filter__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 700;
  fill: #ccc;
  outline: none;
  border-radius: 2px;
}

.filter-range {
  position: absolute;
  z-index: 1;
  height: 5px;
  margin-left: 4px;
  bottom: 2px;
  left: 0;
  right: 0;
  background-color: #333;
  border-radius: 2px;
  pointer-events: none;
  transition: none;
}

.filter__title:focus, .filter__title:hover {
  transition-duration: .1s,.1s;
  background: #f2f2f2;
  fill: #b3b3b3;
}

.filter-body {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .2s;
}

#shop-area__filters .collapse-opened svg {
  transform: rotate(180deg);
}

#shop-area__filters .collapse-opened .filter-body {
  padding: 10px 0 16px;
  transition-delay: 0s,0s;
  visibility: visible;
  height: auto;
  opacity: 1;
}

.filter-price__title {
  margin: 40px 10px 0px;
  font-size: 14px;
  color: #999;
}

.filter__item {
  display: flex;
  cursor: pointer;
  padding: 3px;
}

.filter__check-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: inherit;
  opacity: 0;
}

.filter__check-span {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='7' fill='white' class='input-check__icon'%3E%3Cpath d='M9.002 1.396L3.461 7.002-.002 3.498l1.385-1.402 2.078 2.103L7.617-.006l1.385 1.402z'%3E%3C/path%3E%3C/svg%3E") no-repeat 50%;
  background-size: 0;
  width: 100%;
  display: block;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
  border-radius: 1.2px;
}

.filter__check-input:checked~.filter__check-span {
  background-color: #333;
  background-size: auto;
}

.brands__list,
.available__list {
  padding: 0 10px;
}

.filter__item-title {
  padding: 1px 0;
  font-size: 14px;
  line-height: 16px;
  flex-grow: 1;
}

.filter__item-count {
  padding-top: 3px;
  font-size: 12px;
  line-height: 12px;
  color: #999;
}

.filter__item-disabled {
  cursor: default;
}

.filter__item-disabled .filter__check-span {
  background-color: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.filter__item-disabled .filter__item-title {
  color: #999;
}

.filter__check-container {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.filter__check-input:checked:disabled~.filter__check-span {
  background-color: #e7e7e7;
}

.empty-product-catalog {
  font-size: 23px;
  font-weight: 500;
  color: #ccc;
  text-align: center;
}

.filters__close {
  display: none;
}

.shop-area__filters-btn {
  display: none;
}

.filters__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0;
  display: none;
  transition: opacity .3s;
}

.filter__radio-span {
  border-radius: 25px;
  background: #fff;
}

.filter__radio-span:after {
  display: block;
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #fff;
  transform: scale(0);
  transition: background .2s,transform .2s,visibility 0s .2s;
  visibility: hidden;
}

.filter__check-input:checked~.filter__radio-span:after {
  background: #fff;
  visibility: visible;
  transition-delay: 0s,0s,0s;
  transform: scale(1);
}

@media (max-width: 992px) {
  .filters__overlay {
    display: block;
  }
  .filters__close {
    display: block;
    width: 70px;
    border-left: 2px solid #f0f0f0;
    fill: #999;
  }
  .filters__close:hover {
    fill: #333;
  }
  .filters-button__icon {
    margin-right: 8px;
  }
  .shop-area__title-container {
    display: flex;
    justify-content: space-between;
  }
  .shop-area__sidebar {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
  }
  .shop-area__filters-btn {
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 32px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    color: inherit;
  }
  .filters-button__counter {
    display: block;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 5px 0;
    border-radius: 2px;
    line-height: 16px;
    background: #333;
    color: #fff;
    margin-left: 8px;
    margin-right: -3px;
  }
  .shop-area__sorts-area {
    flex-wrap: wrap;
  }
  .shop-area__sorts {
    margin-left: auto;
  }
  .view-options__divider {
    width: 100%;
    height: 12px;
  }
  .shop-area__filters-btn:hover {
    background: #f5f5f5;
    border-color: #e5e5e5;
  }
  #shop-area__filters-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .shop-area__sidebar {
    transform: translateX(calc(-100% - 30px));
  }
  #shop-area__filters-container.filters-container--open {
    visibility: visible;
    opacity: 1;
  }
  #shop-area__filters-container.filters-container--open .shop-area__sidebar {
    transform: translateX(0);
  }
  #shop-area__filters-container.filters-container--open .filters__overlay {
    opacity: .9;
  }
}

