.header__intro {
  display: flex;
  align-items: center;
  height: 104px;
}

.site-header__logo {
  flex-shrink: 0;
  width: 255px;
  display: flex;
  align-items: center;
  color: inherit;
}

.site-header__search {
  flex-grow: 1;
}

.site-header__phone {
  line-height: 1;
  margin-left: 80px;
  text-align: right;
}

.site-header__phone-title {
  font-size: 14px;
  color: #999;
  margin-bottom: 6px;
}

.site-header__phone-number {
  font-size: 20px;
  font-weight: 700;
}

.header__second-area {
  height: 54px;
  background: #333;
  box-shadow: 0 1px rgba(0,0,0,.04), inset 0 -1px rgba(0,0,0,.04);
  color: #fff;
  display: flex;
}

.header__second-area-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.header__nav-list {
  display: flex;
  height: 100%;
  box-sizing: content-box;
}

.header__nav-item {
  height: 100%;
  padding: 5px 0;
}

.header__nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  color: inherit;
  border-radius: 1px;
  padding: 0 15px;
}

.header__nav-link:hover {
  background: #434343;
}

@media screen and (max-width: 768px) {
  .header__intro {
    height: 80px;
    justify-content: space-between;
  }
}
