.shop-area__pag-btn {
  font-weight: 500;
  font-size: 16px;
  margin: 0 2px;
  padding: 9px 10px 8px;
  line-height: 1;
  border-radius: 2px;
  font-family: inherit;
}

.shop-area__pag-btn:hover {
  box-shadow: none;
  background: #ebebeb;
  color: #333;
}

#shop-area__pagination {
  margin-top: 30px;
  text-align: center;
  cursor: default;
}

.shop-area__pag-btn-active {
  background: #333;
  color: #fff;
}

.shop-area__pag-btn-active:hover {
  background: #333;
  color: #fff;
}

.shop-area__pag-btn-arrow {
  margin: 0 -2px;
}

.disabled {
  cursor: default;
}

.disabled svg {
  fill: #b3b3b3;
}

.disabled:hover {
  background: none;
}

.pag-btn-last-first svg {
  transform: scale(.8);
}

.pag-btn-last-first {
  padding: 8px 8px 5px;
  margin: 0 -5px;
}

.pag-ellipsis {
  cursor: default;
}