.shop-area__sorts-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shop-area__select {
  border: 1px solid #ced4da;
  border-radius: 2px;
  font-size: 14px;
  padding: 7px 20px 7px 8px;
  color: #495057;
  margin-left: 8px;
}

.shop-area__sorts {
  display: flex;
  flex-wrap: wrap;
}

.shop-area__sort-by {
  margin-right: 24px;
}

select.controls {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 10'%3E%3Cpath fill='%234d4d4d' d='M4.503 4H.497c-.403 0-.639-.508-.408-.878L2.095.233a.469.469 0 01.816 0l2 2.889c.231.37-.005.878-.408.878zM.497 6h4.006c.403 0 .639.504.408.871L2.905 9.737a.47.47 0 01-.816 0l-2-2.866C-.142 6.504.094 6 .497 6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 5px 10px;
  background-position: right .5rem center;
}

select {
  appearance: none;
}

@media screen and (max-width: 371px) {
  .shop-area__show {
    margin-top: 10px;
  }
  .shop-area__option {
    margin-left: 7px;
  }
}
@media screen and (max-width: 346px) {
  .shop-area__option {
    margin: 10px 7px 0 0;
  }
}