* {
	transition: all .15s ease;
	outline-color: #333;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
}

body, ul, li, p,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, li {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #333;
}

h1 {
	font-size: 36px;
	line-height: 1.2;
}

div, span, section,
form, button, a, ul, li,
h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
	transition: all .15s ease;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumb {
	background: transparent;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	display: flex;
	margin-top: 16px;
}

.breadcrumb-item a {
	color: #333;
}

.breadcrumb-item a:hover {
	color: #1a66ff;
}

.breadcrumb-arrow {
	fill: #d1d1d1;
	padding: 0 10px;
}

.breadcrumb-item.active {
	color: #999;
}

.shop-area__title {
	padding-top: 6px;
}

.catalog {
	display: flex;
	padding-top: 30px;
}

body {
	padding-bottom: 50px;
}